*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
}
/*Modificando o corpo*/
body{
    background-color: var(--color-body);
    color: var(--color-font);;
}
.container-Registro{
    width: 30%;
    background-color: var(--color-painel);
    height: 400px;
    margin: 4% 0% 10% 35%;
    line-height: 20px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(150, 149, 149);
}
.container-Registro h2{
    text-align: center;
    line-height: 50px;
}
.container-Btns{
    line-height: 20px;
    margin-left: 5%;
}
.container-Btns form{
    display: flex;
    gap: 10%;
}
/*Modificando CONTAINER REGISTRO*/
.container-Texts{
    margin-left: 5%;
}
#descricaoProduto{
    width: 90%;
    height: 95px;
    resize: none;
    margin-left: 1%;
}
.form-descricao{
    margin-left: 5%;
}
/* Estilo para disponibilidade disponível */
.disponivel {
    color: rgb(3, 197, 3);
}
/* Estilo para disponibilidade indisponível */
.indisponivel {
    color: rgb(230, 32, 32);
}
/* Modificando os inputs textos e os buttons do cadastro*/
.text-registro{
    background-color: var(--color-body);
    background-color: rgba(238, 238, 238, 0.918);
    outline: 0;
}
.btn-registrar{
    color: var(--color-font);
    background-color: var(--color-button);
    padding: 2%;
    border: none;
    border-radius: 10px;
}
.btn-registrar:hover{
    background-color: var(--color-hover);
    transform: scale(1.05);
    transition: 0.4s;
}
/*MODIFICANDO O FOOTER*/
footer{
    padding: 0.5%;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: var(--color-menu);
    color: var(--color-font);
}
.container-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contato-social{
    width: 350px;
    margin-left: 20px;
    text-align: left;
    line-height: 20px;
}
